<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Login</title>
</head>
<body>
    <form method="post" action="/seller-login/">
        {% csrf_token %}
        <label for="seller_name">User Name</label>
        <input type="text" name="seller_name" id="seller_name"><br>
        
        <label for="seller_pwd">Password</label>
        <input type="password" name="seller_pwd" id="seller_pwd"><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>